
{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}
    
  {{if 'message' in globals():}}
    <h3>{{=message}}</h3>

    <h4>{{=T('Instructions')}}</h4>
<ol>
      <li>{{=T('You are using the events database')}}</li>
      <li>{{=XML(T('The list of validated events is at %s.  You can sort this list in descending order by clicking the ID column label twice.',
               A('%(application)s/forms/manage_events/'%request,
               _href=XML(URL('forms','manage_events')), _target='new')))}}</li>
  
      <li>{{=XML(T('The main tool for managing references that validate events is at %s',
               A('%(application)s/forms/manage_references/'%request,
              _href=XML(URL('forms','manage_references')), _target='new')))}}</li>
       <li>BEFORE YOU START ADDING DATA: Please read the design of this database.  This has been written up for publication as a journal paper. You need to decide on which validation protocol you will follow, or if you want to create a new one. <a href="{{=URL('static', 'biosmoke_manuscript.pdf')}}" target="new">To read the manuscript click me</a>.  To jump to the Protocols <a href="{{=URL('static', 'protocols.html')}}" target="new">click me</a> </li>
       <li>{{=T('FIRST: Become a user of the data inventory. Register in top right corner.')}}</li>
       <li>{{=XML(T('SECOND: add a reference that validates your events by adding a record at this form: %s, and then hit Submit.',
               A('%(application)s/forms/manage_references/'%request,
              _href=XML(URL('forms','manage_references')), _target='new')))}}</li>
      <li>{{=XML(T('THIRD: add events from that reference. You can get to this from the "Biomass smoke events" link that appear next to the refence you just added, then go to Add Record. You can add events to any Reference that was previously added using the management form at %s.',
               A('%(application)s/forms/manage_events/'%request,
               _href=XML(URL('forms','manage_events')), _target='new')))}}</li>

</ol>
    {{elif 'content' in globals():}}
{{=content}}
    {{else:}}
{{=BEAUTIFY(response._vars)}}
    {{pass}}

    {{block right_sidebar}}
{{=A(T("About this site"), _href=XML(URL('static', 'protocols.html')), _target='new', _class='btn',
         _style='margin-top: 1em;')}}
{{end}}
